#area_out{
    background-color: var(--color0);
}

.searching_bar{
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    margin: 10px;
    animation: trans-down 0.5s linear;
    animation-fill-mode: forwards;
}


.searching_box{
    height: 1400px;

}
.searching_box_firsttext{
    font-size: 30px;
    padding-top:500px;
    text-align: center;
    animation: trans-down 0.5s linear;
    animation-fill-mode: forwards;
}

.searching_down{
    width: 80%;
    display: flex;
    justify-content: right;
}

#area_add{
    width: 70px;
    height: 70px;
    font-size: 60px;
    border-radius: 100%;
    border:none;
    
}

#area_add:active{
    transform: scale(0.9);
}

.area{
    background-color: var(--color3);
    border-radius: 20px;
    color: var(--color0);
    font-size: 20px;
    padding:10px;
    margin: 10px;
}

.xbutton{
    padding-left: 5px;
}

.searching_list{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}