#game1{
    margin-top: 30%;
}

.game1_ani{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.game1_ani_background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding:0;
    margin:0;
    width: 600px;
    border-radius: 100%;
    border: none;
    background-color: rgb(102, 173, 255);
    overflow: hidden;
}

.game1_texts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.game1_text{
    margin: 40px;
    font-size: 100px;
    font-weight: bold;
    color:var(--color3);
}

.text_select{
    color: var(--color2);
}


.game1_text:hover{
    cursor: pointer;
}

.game1_ani_object{
    height: 200px;
    width:200px;
    border-radius: 100%;
    border:none;
    padding:0;
    margin:0;

}

.sun{
    background-color: rgb(255, 255, 105);
}

#moon{
    background-color: rgb(220, 220, 220);
}


.to-night-background{
    animation: to-night-background 1s ease-in-out;
    animation-fill-mode: forwards;
}

.to-day-background{
    animation: to-day-background 1s ease-in;
    animation-fill-mode: forwards;
}

.to-night{
    transform-origin: 100px 400px;
    animation: to-night 1s ease-in-out;
    animation-fill-mode: forwards;
}

.to-day{
    transform-origin: 100px 400px;
    animation: to-day 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes to-night{
	0%{
        transform: rotate(0deg);
        }
    50%{
        background-color: rgb(255, 255, 105);;
    }
    51%{
        background-color:  rgb(220, 220, 220);
    }
    100%{
        background-color:  rgb(220, 220, 220);
        transform: rotate(360deg);
    }
}

@keyframes to-night-background{
    from{

    }
    to{
        background-color: rgb(47, 43, 66);
    }
}

@keyframes to-day-background{
    from{

    }
    to{
        background-color: rgb(102, 173, 255);
    }
}