#game1{
    margin-top: 30%;
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    right:0;
}

.game1_ani{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.game1_ani_background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding:0;
    margin:0;
    width: 600px;
    border-radius: 100%;
    border: none;
    background-color: rgb(102, 173, 255);
    overflow: hidden;
}

.game1_texts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.game1_text{
    margin: 40px;
    font-size: 100px;
    font-weight: bold;
    color:var(--color3);
}

.game1_text_select{
    color: var(--color2);
}


.game1_text:hover{
    cursor: pointer;
}

.game1_ani_object{
    height: 200px;
    width:200px;
    border-radius: 100%;
    border:none;
    padding:0;
    margin:0;
     background-color: rgb(255, 255, 105);
}

.to-night-background{
    animation: to-night-background 1s ease-in-out;
    animation-fill-mode: forwards;
}

.to-day-background{
    animation: to-day-background 1s ease-in;
    animation-fill-mode: forwards;
}

.to-night{
    transform-origin: 100px 400px;
    animation: to-night 1s ease-in-out;
    animation-fill-mode: forwards;
}

.to-day{
    transform-origin: 100px 400px;
    animation: to-day 1s ease-in-out;
    animation-fill-mode: forwards;
}
