#favorite_out{
    display: block;
}
#favorite_main{
    background-color: #faeee7;
    height: 93%;
    width: 90%;
    margin: 5%;
}

#output_main{
    height: 100%;
    background-color: white;
}

.output_up{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0px;
}

.output_up_setting{
    color:gray;
    margin-right: 20px;
}

.output_title{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    transform: translateY(700%);
    animation: start-title 0.7s 1s ease-out;
    animation-fill-mode: forwards;
}

.output_up_name{
    color: blue;
}

.output_subboxs{
    opacity: 0%;
    transform: translateY(-5%);
    animation: trans-up 0.3s 2s ease-out;
    animation-fill-mode: forwards;
    overflow-y: scroll;
}

.output_subboxs::-webkit-scrollbar{
    display: none;
}

.output_subboxs,.favofite_subboxs{
    background-color: #faeee7;
    width: 90%;
    height: 80%;
    text-align: center;
}

.output_subboxs_setting{
    width: 100%;
    height: 3%;
    padding:0px;
    
    display: flex;
    justify-content: right;
}

.output_subboxs_setting_text{
    color: grey;
    display: inline-block;
    margin-right: 10px;
}


.output_subbox{
    opacity: 0%;
    width: 90%;
    height: 20%;
    background-color: #ffba9f;
    border-radius: 20px;
    border:none;
    display: inline-block;
    text-align: center;
    overflow:hidden;
    animation: trans-down 0.5s 3s ease-out;
    animation-fill-mode: forwards;
    
}

.output_subbox:hover{
    cursor: pointer;
}

.output_subbox_in{
    width: 90%;
    height: 70%;
    display: inline-block;
}

.output_subbox_up{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:space-between;
    margin: 0px;
    padding: 0px;
}

.output_subbox_main{
    width: 100%;
    height: 150px;
    display: flex;
    margin:0;
    padding:0;
    margin-bottom: 40px;
}


.output_subbox_main_image{
    width: 180px;
    height: 150px;
    margin-right: 10px;
}

.output_subbox_main_text{
    display: inline-block;

    margin: 0px;
    padding: 0px;
}

#output_subbox_main_text{
    width: 70%;
}

.nameandstar{
    display: flex;
    justify-content: space-between;
}
.nameandstar_name{
    font-size: 30px;
    font-weight: bold;
}

.nameandstar_star_score{
    font-weight: bold;
}

.nameandstar_star_count{
    color: grey;
}

.subtext{
    display: block;
    text-align: left;
    margin-top: 10px;
}

.tags{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.tag{
    width: 100px;
    overflow: auto;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    border-radius: 40px;
    color:var(--color4);
    margin: 5px;
    border: none;
}

.select_tag{
    background-color: var(--color2);
    color: var(--color0);
}

.output_down{
    opacity: 0%;
    width: 90%;
    height: 10%;
    background-color: #faeee7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
    font-size: 30px;
    animation: trans-up 0.3s 2.3s ease-out;
    animation-fill-mode: forwards;
}

.output_down_logo{
    width: 80px;
    height: 60px;
    background-image: url("./images/logo/logo2_64bit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.output_down_areasetting:hover, .output_down_keywordsetting:hover{
    cursor: pointer;
}

.trainer_in_menu_review{
    
}