#favorite_out{
    display: block;
}
.trainer_backbutton{
    background-color: var(--color1);

    border-radius: 30px;
    font-size:50px;
    font-weight: bold;
}

.trainer_backbutton:hover{
    cursor: pointer;
}
#favorite_main{
    background-color: #faeee7;
    height: 93%;
    width: 90%;
    margin: 5%;
}

#output_main{
    height: 100%;
    background-color: white;
}

.output_up{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0px;
}

.output_up_setting{
    color:gray;
    margin-right: 20px;
}

.output_title{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    transform: translateY(700%);
    animation: start-title 0.7s 1s ease-out;
    animation-fill-mode: forwards;
}

.output_up_name{
    color: blue;
}

.output_subboxs{
    opacity: 0%;
    transform: translateY(-5%);
    animation: trans-up 0.3s 2s ease-out;
    animation-fill-mode: forwards;
    overflow-y: scroll;
}

.output_subboxs::-webkit-scrollbar{
    display: none;
}

.output_subboxs,.favofite_subboxs{
    background-color: #faeee7;
    width: 90%;
    height: 80%;
    text-align: center;
}

.output_subboxs_setting{
    width: 100%;
    height: 3%;
    padding:0px;
    
    display: flex;
    justify-content: right;
}

.output_subboxs_setting_text{
    color: grey;
    display: inline-block;
    margin-right: 10px;
}


.output_subbox{
    opacity: 0%;
    width: 90%;
    height: 20%;
    background-color: #ffba9f;
    border-radius: 20px;
    border:none;
    display: inline-block;
    text-align: center;
    overflow:hidden;
    animation: trans-down 0.5s 3s ease-out;
    animation-fill-mode: forwards;
    
}

span{
    margin:5px;
}
.review_upbar{
    display: flex;
    justify-content: space-between;
}
.output_subbox:hover{
    cursor: pointer;
}

.output_subbox_in{
    width: 90%;
    height: 70%;
    display: inline-block;
}

.output_subbox_up{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content:space-between;
    margin: 0px;
    padding: 0px;
}

.output_subbox_main{
    width: 100%;
    height: 150px;
    display: flex;
    margin:0;
    padding:0;
    margin-bottom: 40px;
}


.output_subbox_main_image{
    width: 180px;
    height: 150px;
    margin-right: 10px;
}

.output_subbox_main_text{
    display: inline-block;

    margin: 0px;
    padding: 0px;
}

#output_subbox_main_text{
    width: 70%;
}

.nameandstar{
    display: flex;
    justify-content: space-between;
}
.nameandstar_name{
    font-size: 30px;
    font-weight: bold;
}

.nameandstar_star_score{
    font-weight: bold;
}

.nameandstar_star_count{
    color: grey;
}

.subtext{
    display: block;
    text-align: left;
    margin-top: 10px;
}

.tags{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.tag{
    width: auto;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    border-radius: 40px;
    color:var(--color4);
    margin: 5px;
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.select_tag{
    background-color: var(--color2);
    color: var(--color0);
}

.output_down{
    opacity: 0%;
    width: 90%;
    height: 10%;
    background-color: #faeee7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: gray;
    font-size: 30px;
    animation: trans-up 0.3s 2.3s ease-out;
    animation-fill-mode: forwards;
}

.output_down_logo{
    width: 80px;
    height: 60px;
    background-image: url("./images/logo/logo2_64bit.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.output_down_areasetting:hover, .output_down_keywordsetting:hover{
    cursor: pointer;
}

.favorite{
    color:yellow;
}

.output_subbox_up_logo{
    font-size: 20px;
}


.trainer_in{
    width: 100%;
    height: 75%;
}


.trainer_up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.trainer_profile{
    width: 100%;
    height: 15%;
    display: flex;
}

.trainer_profile_image{
    width: 30%;
    height:fit-content;
    border-radius: 10px;
    background-image: url("./images/PT강사/김빛남.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.trainer_profile_text{
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 80%;
}

.trainer_profile_text_tag{
    background-color: rgb(170, 170, 170);
    color:black;
    width: 60px;
    height: 2px;
    font-weight: bold;
    margin:10px;
}

.profile_text_up{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.up_button{
    background-color: #ff5c00;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border:none;
    padding:5px;
    box-shadow: 0px 5px 5px grey;
    width: 90px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainer_in_menus{
    display: flex;
    justify-content: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.trainer_in_menu{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:none;
    font-size: 25px;
    font-weight: bold;
    width: 30%;
}

#menu_intro{
    background-color: var(--color2);
}

#menu_review{
    background-color: #ff7e33;
    color: rgb(58, 58, 58)
}

#menu_tel{
    background-color: #ffbd67;
    color: rgb(58, 58, 58)
}

.trainer_in_detail{
 background-color: #ff6b16;
 padding: 0px;
 padding-left: 10px;
 margin: 0px;
 text-align: left;
 border-top-right-radius: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 border:none;
 height: 100%;
}

.trainer_title{
    font-size: 30px;
    font-weight: bold;
}

.trainer_belong{
    display: flex;
    align-items: center;
}

#trainer_belong_subtext{
    margin-left: 10px;
}

.trainer_movie{
    height: 40%;
}

.trainer_movie_movie{
    height: 70%;
    width: 95%;
    border: 3px black solid;
}

.trainer_others{
    display: flex;
    justify-content: space-between;
}

.trainer_others_qualification {
    width: 60%;
}

.trainer_others_career{
    width: 40%;
}

.menu_main{
    position: absolute;
    overflow-y: scroll;
    display: block;
    width: 900px;
}

.menu_main::-webkit-scrollbar{
    display: none;
}

