@import "color.css";
@import "animation.css";
@import "index_css.css";
@import "area_css.css";
@import "game_css.css";
@import "game1_css.css";
@import "game2_css.css";
@import "game3_css.css";
@import "game4_css.css";
@import "game5_css.css";
@import "name_set_css.css";
@import "keyword_setting_css.css";
@import "output_favorite_css.css";
@import "trainer_css.css";


body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    padding-top:10px;
    padding-bottom: 10px;
    border: 1px solid black;
}

.out{
    width: 900px;
    height: 1600px;
    display: flex;
    justify-content: center;
    align-items:center;

}


.main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


input{
    width: 90%;
    height: 70px;
    font-size: 30px;
    border:none;
    border-bottom: 2px solid var(--color3);
}

input::placeholder{
    color:var(--color3);
}

input:focus{
    outline: none;
}

.down_button{
    color: var(--color3);
    font-size: 20px;
}


.clicked
{
    transition:0.1 cubic-bezier(0.01, 1.69, 0.99, 0.94); 
    width: 70px;
    border-radius: 100%;
    color: var(--color0);
    background-color: var(--color0);
}

.next_button_box{
    position: inherit;
}

.next_button{
    background-color: gray;
    width: 180px;
    height: 70px;
    font-size: 30px;
    color: white;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 5px 10px grey;
    z-index: 100;
}

.next_button:hover{
    cursor: pointer;
}